.news_list__cont {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    height: var(--body-height);
    width: var(--main-width);
}

.news_list__empty {
    color: #767676;
}