.news_list__cont {
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--body-height);
    width: var(--main-width);
    align-content: flex-start;
    flex-wrap: wrap;
}

.news_list__empty {
    color: #767676;
}