.header__container {
    width: inherit;
    margin: 0 0 70px;
    padding: 42px 0 42px 150px;
    box-shadow: 0 1px 4px 0 rgb(0 21 41 / 12%);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}
.header__logo {
    width: 208px;
}